form {
    text-align: right;
    
    font-size: 1em;
}

label {
    font-size: 2em;
}
select, input {
    font-size: 2em;
    width: 50%;
    height: 20%;
    margin: 1%;
}

h1 {
    color: blue;
}

